<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
@if(datos()){
<div> 
  <h2 mat-dialog-title class="dialog-headline">{{ datos()?.nombre }}</h2>

  <mat-dialog-content class="content">
    <div class="imagen-responsive">
      <img mat-card-image [src]="'http://localhost:3000/images/'+datos()?.imagen" [alt]="datos()?.nombre" />
    </div>    
    <div class="details">
      
      <div>
        <p>{{ datos()?.descripcion }}</p>
      </div>
      <div>
        <mat-chip-listbox aria-label="Generos">
          @for (item of datos()?.generos; track $index) {
          <mat-chip-option class="chip-tertiary">
            {{item.nombre}}
          </mat-chip-option>
          }
        </mat-chip-listbox>
      </div>      
      <div >
        <mat-chip-listbox aria-label="Plataformas">
          @for (item of datos()?.plataformas; track $index) {
          <mat-chip class="chip-primary">
            {{item.plataforma.nombre}}
            <mat-chip class="chip-secondary">{{item.anno_lanzamiento}}</mat-chip>
          </mat-chip>
          }
        </mat-chip-listbox>
      </div>
      <div class="footer">
        <p class="price">{{datos()?.precio | currency:"USD"}}</p>
      </div>
    </div>
  </mat-dialog-content>
</div>
}
