  .dialog-headline{
    font-weight: 500;
    margin-bottom: 0;
    text-align: center;
  }
  .close-button{
   
    top: 0;
  right: -89%;
  }
  
  .close-icon {
    transition: 1s ease-in-out;
    background-color: grey;
    border-radius: 50px;
    padding: 2px;
  }
  .content
  {
    text-align: left;
  }
  mat-dialog-content{
    padding: 1.5em;
  }
 .price{
    font-weight: 800;
    font-size: 3em;
    float: right;
 }
 .imagen-responsive{
  margin-top: 1%;
  float: left;
  width: 48%;
 }
 .details{
  margin-left: 1%;
  padding-left: 1%;
  float: left;
  width: 48%;
 }
img {
  
  width: 100%;
  max-height: 490px;
}
.footer {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}