footer {
  position: fixed;
  z-index: 5;
  bottom: 0;
  width: 100%;
  height: fit-content;
  text-align: center;
  margin: 0px;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}
p {
  flex: 1 1 auto;
  text-align: center;
}
