.grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px;
}

.filter {
    width: 90%;
}

.full-width {
    width: 100%;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.product-card {
    flex: 1 1 280px;
    max-width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;

    mat-card {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }

    mat-card-header.title {
        padding-bottom: 1em;
        padding-top: 16px;
        padding-left: 16px;
        padding-right: 16px;
        border-radius: 10px;
    }

    mat-card-content.content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-top: 0;
        padding-left: 16px;
        padding-right: 16px;

        .price {
            font-size: 1.2em;
            font-weight: bold;
            margin-top: 8px;
            text-align: right;
        }
    }

    mat-card-footer.footer {
        display: flex;
        justify-content: flex-end;
        gap: 8px;
        padding: 16px;
        margin-top: auto;
    }

    img {
        width: 100%;
        object-fit: cover;
        width: 100%;
    }
}

@media (min-width: 600px) and (max-width: 959px) {
    .product-list {
        grid-template-columns: repeat(auto-fit,
                minmax(250px, 1fr));
        /* 2-3 columnas */
        gap: 20px;
    }
}

@media (max-width: 599px) {
    .product-list {
        gap: 16px;
    }

    .product-card {
        flex: 1 1 100%;
        max-width: 100%;
    }

    .grid-container {
        padding: 8px;
    }
}

@media (min-width: 600px) {
    .product-card {
        flex: 1 1 calc(50% - 12px);
        max-width: calc(50% - 12px);
    }
}

@media (min-width: 960px) {
    .product-card {
        flex: 1 1 calc(33.333% - 16px);
        max-width: calc(33.333% - 16px);
    }
}

@media (min-width: 1200px) {
    .product-card {
        flex: 1 1 calc(25% - 18px);
        max-width: calc(25% - 18px);
    }
}