<div class="grid-container">
    <mat-card appearance="outlined" class="filter">
        <mat-card-header>
            <h1 class="mat-h1">Videojuegos</h1>
        </mat-card-header>

        <mat-card-content>
            <!-- Filtro por nombre -->
            <mat-form-field class="full-width">
                <mat-label>Nombre Videojuego</mat-label>
                <input matInput [value]="filtroNombre()" (input)="onFiltroNombreChange($any($event.target).value)"
                    maxlength="20" />
                <mat-hint>{{ filtroNombre().length }} / 20</mat-hint>
                <button mat-icon-button matSuffix color="primary">
                    <mat-icon>search</mat-icon>
                </button>
            </mat-form-field>

            <!-- Filtro por géneros -->
            <mat-form-field class="full-width">
                <mat-label>Géneros</mat-label>
                <mat-select multiple [value]="generosSeleccionados()"
                    (selectionChange)="onGenerosSelectChange($event.value)">
                    @for (g of generos(); track g.id) {
                    <mat-option [value]="g.id">{{ g.nombre }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        </mat-card-content>
    </mat-card>

    <!-- Lista de videojuegos -->
    @if (videojuegosFiltrados().length > 0) {
    <div class="product-list">
        @for (vj of videojuegosFiltrados(); track vj.id) {
        <div class="product-card">
            <mat-card appearance="outlined">
                <mat-card-header class="secondary-title title">
                    <mat-card-title>{{ vj.nombre }}</mat-card-title>
                </mat-card-header>

                <img mat-card-image [src]="'http://localhost:3000/images/' + vj.imagen" [alt]="vj.nombre" />

                <mat-card-content class="content">
                    <div class="price">{{ vj.precio | currency : 'USD' }}</div>
                </mat-card-content>

                <mat-card-footer class="footer">
                    <button matMiniFab matTooltip="Detalle Videojuego" (click)="detalle(vj.id)" class="bg-primary">
                        <mat-icon>info</mat-icon>
                    </button>

                    <button matMiniFab matTooltip="Comprar" (click)="comprar(vj)" class="bg-secondary">
                        <mat-icon>add_shopping_cart</mat-icon>
                    </button>
                </mat-card-footer>
            </mat-card>
        </div>
        }
    </div>
    } @else {
    <div class="no-results">
        <p>No se encontraron videojuegos con los filtros aplicados.</p>
    </div>
    }
</div>