.full-width {
  width: 100%;
  
}

.form-card {
  width: 80%;
  margin: 0 auto;

}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}
.title{
    margin-top: 1em;
    padding: 0.5em;
    margin-bottom: 1em;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}
.example-button-row {
  display: table-cell;
  max-width: 600px;
}
.table{
  margin: 1em;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align:center;
}
.table th{
  color: white;
}
.table td, th{
  border: 1px solid white;
  border-collapse: collapse;
  padding: 0.5em;
}
.file-input {
  display: none;
}
.file-upload{
  padding: 1em;
}
mat-label{
  font-weight: bold;
}
.container {
  width: 100%;
  align-items: center;
}
.card {
  border-radius: 10px;
  padding: 1em;
}
.card h3 {
  font-size: 22px;
  font-weight: 600;
  
}
.drop_box {
  margin: 10px 0;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px dashed #a3a3a3;
  border-radius: 5px;
}
.drop_box:hover {
  border: 3px dashed rgba(72, 117, 202, 0.6);
}
.drop_box h4 {
  font-size: 16px;
  font-weight: 400;
  color: #767676;
}
.drop_box p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #a3a3a3;
}
.button-row{
  margin-top: 1em;
  width: 100%;
  margin-bottom: 1em;
}
.button-row button {
  margin-right: 12px;
}

.button-row button:last-child {
  margin-right: 0;
}