mat-form-field.mat-form-field {
    font-size: 16px;
  }
  .full-width {
    width: 100%;
  }
  .title {
    font-weight: bold;
    font-size: 1.2em;
    padding: 0.5em;
  }
  .card-content {
    min-width: 600px;
    margin: 20px auto;
  }
  
  .mat-radio-button {
    display: block;
    margin: 5px 0;
  }
  
  .row {
    display: flex;
    flex-direction: row;
  }
  
  .col {
    flex: 1;
    margin-right: 20px;
  }
  
  .col:last-child {
    margin-right: 0;
  }
  